<h2>🔐 修改密碼</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>目前密碼：
    <input type="password" formControlName="password" />
  </label>
  <br />

  <label>新密碼：
    <input type="password" formControlName="newPassword" />
  </label>
  <br />
  <!-- 🚨 即時提示：密碼太短 -->
  <div *ngIf="isTooShort" style="color: orange;">
    新密碼需至少6位字元
  </div>

  <!-- 🚨 即時提示：新密碼與舊密碼一致 -->
  <div *ngIf="isSameAsOld" style="color: orange;">
    新密碼不能與舊密碼相同
  </div>

  <label>再次輸入新密碼：
    <input type="password" formControlName="reEnteredPassword" />
  </label>
  <br />
  <!-- 🚨 即時提示：不一致 -->
  <div *ngIf="isMismatch" style="color: orange;">
    兩次輸入的新密碼不一致
  </div>

  <button type="submit">提交</button>
</form>

<p style="color: green;" *ngIf="successMessage">{{ successMessage }}</p>
<p style="color: red;" *ngIf="errorMessage">{{ errorMessage }}</p>


